<div class="container">
    <div class="row content">
      <div class="col-md-1"></div>
      <div class="col-md-10 form_new_list">
        <h1 class="edit_title">Edit List</h1>
        <%= render 'form' %>
    
      </div>
      <div class="col-md-1"></div>
    </div>
    
    <div class="row edit_options">   
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <div><%= link_to 'Show', @todo_list,  class: "btn btn-primary btn_option_edit" %></div>
        </div>
        <div class="col-md-2">
            <div><%= link_to 'Back', todo_lists_path, class: "btn btn-primary btn_option_edit" %></div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
