<p>Beat your procrastination using DoMore apps to make better results</p>

<%= link_to "Log in", new_user_session_path %>
<%= link_to "Sign in", new_user_registration_path %>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>