<div class="welcome_container">
    <p>Beat your procrastination using DoMore apps to make better results</p>

    <div class="row edit_options"> 
        <div class="col-md-6">
            <%= link_to "Log in", new_user_session_path,  class: "btn btn-primary btn_option_edit" %>
        </div>
        <div class="col-md-6">
            <%= link_to "Sign in", new_user_registration_path,  class: "btn btn-primary btn_option_edit" %>
        </div>
    </div>
</div>